<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ace"
        android:roundIcon="@mipmap/ace"
        android:supportsRtl="true"
        android:theme="@style/Theme.Myapp"
        tools:targetApi="31">

        <activity
            android:name="com.send.LoginApp.LoginActivity"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.send.LoginApp.CreateActivity"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="true" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity
            android:name="com.send.LoginApp.ForgotPassword"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.send.LoginApp.HomeActivity"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="true"><intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity
            android:name="com.send.LoginApp.LogoutActivity"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.send.LoginApp.CoursesActivity"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.send.LoginApp.SubjectsActivity"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.send.LoginApp.MainActivity"
            android:exported="true">
        </activity>

    </application>

</manifest>